/* Formatações Gerais */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
  color: #000000c5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Formatação NavBar */
#topo #imgtopo {
  width: 100%;
}

#nav-bar {
  background: #b78278;
  text-align: center;
}

#nav-bar li {
  display: inline-block;
  padding: 5px;
}

#nav-bar li a {
  display: inline-block;
  padding: 15px;
  border: 2px solid #f6dbc8;
  border-radius: 6px;
  color: #f6dbc8;
}

#nav-bar li a:hover {
  color: #77544c;
  border-color: #77544c;
}

.menu,
#menubar {
  display: none;
}

/* Formatação Quem Somos */
#nos {
  display: grid;
  gap: 10px;
  grid-template-columns: 150px 400px;
  grid-template-rows: 150px 1fr;
}

#nos p {
  font-size: 0.9em;
}

#nos #ladoimg p {
  padding-left: 10px;
}

#nos #baixoimg {
  grid-column: 1/-1;
}

#nos #logo {
  height: 100%;
  border-radius: 6px;
}

#nos #paragrafobaixo {
  display: none;
}

/* Conteúdo */
.conteudo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 10px 20px;
}

.conteudo > div {
  background-color: #ddd;
  padding: 15px;
  border-radius: 4px;
}

.contato-infos {
  display: flex;
  height: 80px;
  align-items: center;
}

.contato-infos img {
  width: 40px;
  padding: 5px;
  margin-right: 5px;
}

/* Link Save */

body#sobre a#sobre {
  color: #77544c;
  border-color: #77544c;
}

/* Media Query */
@media only screen and (max-width: 768px) {
  .conteudo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin: 10px 20px;
  }

  #nav-bar {
    display: none;
  }

  #menubar {
    display: inline-block;
    position: absolute;
    top: 2.5px;
    right: 0;
    padding: 15px;
  }

  #menubar img {
    max-width: 100%;
    width: 30px;
    height: 30px;
  }

  #topo input[type="checkbox"] {
    display: none;
  }

  #topo input[type="checkbox"]:checked ~ #nav-bar {
    display: inline-block;
    position: fixed;
    z-index: 1;
    text-align: end;
    border-radius: 0 0 0 6px;
    right: 0;
    margin-top: -4px;
  }

  #topo input[type="checkbox"]:checked ~ #nav-bar #nav-bar-links li,
  #topo input[type="checkbox"]:checked ~ #nav-bar #nav-bar-links li a {
    display: block;
    text-align: center;
  }

  #nos {
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr;
  }

  #nos #paragrafolado {
    display: none;
  }

  #nos #paragrafobaixo {
    display: inline-block;
  }
}
