/* Formatações Gerais */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
}

img {
  max-width: 100%;
}

/* Formatações no Topo  */

#topo {
  display: grid;
  grid-template-columns: 40px 1fr;
  background: #b78278;
}

#topo a {
  justify-self: center;
  grid-column: span 1/-1;
  grid-row: 1;
}

#topo label {
  z-index: 1;
}

#topo input[type="checkbox"] {
  display: none;
}

#topo nav#menu-navbar {
  position: absolute;
  left: -350px;
  top: 69px;
  background-color: aquamarine;
  padding: 20px;
}

#topo input[type="checkbox"]:checked ~ nav#menu-navbar {
  transform: translateX(350px);
}

#topo img#menu {
  margin-top: 5px;
  padding: 10px;
}

#topo img#logo {
  width: 300px;
}

/* Formatações */
/* Formatações */
/* Formatações */
/* Formatações */
