* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
}

a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 20px;
  color: #fff;
}

a:hover {
  background-color: rgb(176, 224, 230);
  color: #000;
}

ul {
  list-style: none;
  top: 70px;
  position: absolute;
  width: 100%;
}

img {
  width: 40px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ nav {
  transform: translateX(350px);
}

nav {
  background-color: rgba(16, 16, 16, 0.5);
  width: 350px;
  height: 100%;
  position: absolute;
  left: -350px;
}

label {
  padding: 15px;
  position: absolute;
  z-index: 1;
}
